<footer>
         <div class="container">
            <div class="footer-inner">
                <a href="">
                    <img src="{{media}}/images/logo/dark-mode.png" alt="Footer logo" class="footer-logo" style="height: 150px; width: 255px; margin: 0;">
                </a>
                <div class="footer-nav">
                    <ul>
                        <li class="f-navlinks"><a href="#home" id="footer-home">Home</a></li>
                        <li class="f-navlinks"><a href="#about" id="footer-about">About Me</a></li>
                        <li class="f-navlinks"><a href="#services" id="footer-services">Services</a></li>
                        <li class="f-navlinks"><a href="#portfolio" id="footer-portfolio">Portfolio</a></li>
                        <li class="f-navlinks"><a href="#contact" id="footer-contact">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-bottom d-flex">
                    <p class="copyright">© 2025 Mohammad Salkhorde. All Rights Reserved.</p>
                    <div class="footer-social">
                        <div class="footer-socials">
                            <a href="https://www.instagram.com/md80b" class="footer-social" target="_blank">
                                <img src="{{media}}/images/social-icons/feather_instagram.svg" alt="Instagram">
                            </a>
                            <a href="https://www.linkedin.com/in/mohammad-salkhorde-a13767385" class="footer-social" target="_blank">
                                <img src="{{media}}/images/social-icons/feather_linkedin.svg" alt="LinkedIn">
                            </a>
                            <a href="https://github.com/MohammadSalkhorde" class="footer-social" target="_blank">
                                <img src="{{media}}/images/social-icons/feather_github.svg" alt="GitHub">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>