<section class="testmonial">
            <div class="container">
                <div class="testmonial-inner">
                    <h2>Happy Clients</h2>
                    <div class="testmonial-slider owl-carousel owl-theme">
                        <!-- item -->
                        <div class="testmonial-item">
                            <h3>نام پروژه</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
                            <div class="client-data d-flex">
                                <img src="{{media}}/images/client-1.png" alt="client thumb">
                                <h4>نام مشتری
                                    <br> <span>سمت مشتری</span>
                                </h4>

                            </div>
                        </div>
                        <!-- item -->
                        <div class="testmonial-item">
                            <h3>نام پروژه</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
                            <div class="client-data d-flex">
                                <img src="{{media}}/images/client-2.png" alt="client thumb">
                                <h4>نام مشتری
                                    <br> <span>سمت مشتری</span>
                                </h4>

                            </div>
                        </div>
                        <!-- item -->
                        <div class="testmonial-item">
                            <h3>نام پروژه</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
                            <div class="client-data d-flex">
                                <img src="{{media}}/images/client-1.png" alt="client thumb">
                                <h4>نام مشتری
                                    <br> <span>سمت مشتری</span>
                                </h4>

                            </div>
                        </div>
                        <div class="testmonial-item">
                            <h3>نام پروژه</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
                            <div class="client-data d-flex">
                                <img src="{{media}}/images/client-2.png" alt="client thumb">
                                <h4>نام مشتری
                                    <br> <span>سمت مشتری</span>
                                </h4>

                            </div>
                        </div>
                        <!-- item -->
                        <div class="testmonial-item">
                            <h3>نام پروژه</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
                            <div class="client-data d-flex">
                                <img src="{{media}}/images/client-1.png" alt="client thumb">
                                <h4>نام مشتری
                                    <br> <span>سمت مشتری</span>
                                </h4>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>