{% extends "main_template.html" %}
{% load static %}
{% load render_partial %}
{% block content %}

   <!-- Header -->
    {% include "partials/header.html" %}
    
    <main>
        {% include "partials/messages.html" %}
        <!-- Hero section -->
        {% render_partial "main:hero-section" %}

        <!-- features -->
        {% comment %} <section class="features">
            <div class="container">
                <div class="features-inner d-grid">
                    <div class="feature-item d-flex">
                        <div class="icon d-flex color1">
                            <img src="{{media}}/images/experience.svg" alt="experience">
                        </div>
                        <div>
                            <h3>5+</h3>
                            <p>تجربه</p>
                        </div>
                    </div>
                    <div class="feature-item d-flex">
                        <div class="icon d-flex color2">
                            <img src="{{media}}/images/happy-clients.svg" alt="happy clients ">
                        </div>
                        <div>
                            <h3>73</h3>
                            <p>مشتریان راضی</p>
                        </div>
                    </div>
                    <div class="feature-item d-flex">
                        <div class="icon d-flex color3">
                            <img src="{{media}}/images/projects-completed.svg" alt="happy clients ">
                        </div>
                        <div>
                            <h3>120+</h3>
                            <p>پروژه های موفق</p>
                        </div>
                    </div>
                    <div class="feature-item d-flex">
                        <div class="icon d-flex  color4">
                            <img src="{{media}}/images/awards-won.svg" alt="awards ">
                        </div>
                        <div>
                            <h3>10+</h3>
                            <p>جایزه ها</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- About -->
        {% render_partial "main:about-section" %}
        
        <!-- Experience -->
        
        {% render_partial "main:experience-section" %}
        
        <!-- Services -->
        
        {% render_partial "main:services-section" %}

        <!-- CTA -->
        <section class="cta">
            <div class="container">
                <div class="cta-inner d-flex">
                    <div class="cta-content">
                    <h3>Got a project in mind?</h3>
                    <p>
                        I’m always open to discussing new ideas, creative collaborations, or potential projects.
                        Let’s turn your vision into reality together.
                    </p>
                    </div>
                    <a href="#contact" class="btn btn-default">Contact Me</a>
                </div>
            </div>
        </section>
        <!-- projects -->
        
        {% render_partial "main:projects" %}

        <!-- Testmonial -->

        {% comment %} happy clients {% endcomment %}
        
        <!-- Contact Me -->
        {% render_partial "main:contact" %}
    </main>
    <!-- Footer -->
    {% include "partials/footer.html" %}

    <!-- Project view modal -->
    
    <!-- Scroll up -->
    <a href="javascript:void(0)" class="scrollup">
        <img src="{{media}}/images/uparrow.svg" alt="arrow up">
    </a>

{% endblock content %}